
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url(assets/Jbackground.png);
  background-size: cover;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #179407;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

@keyframes dance {
  0%, 100%  {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}


.memorycard-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card-section {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 4px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.card-section:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.card-section.flip {
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(6, 90, 20), rgb(13, 187, 13) );
  backface-visibility: hidden;
}

.front-card {
  transform: rotateY(180deg);
}